:root {
    /* Cores Pincipais */
    --primary-color: hsl(220, 95%, 55%);
    --bg-gradient: linear-gradient(135deg, #1e1e2f, #0f0f1a);
    --glass-bg: rgba(255, 255, 255, 0.1);
    --glass-border: rgba(255, 255, 255, 0.2);

    /* Cores de Texto */
    --text-main: #ffffff;
    --text-dim: #b4b4b4;

    /* Tipografia */
    --font-main: 'Poppins', "Arial", sans-serif;
    --title-size: clamp(2rem, 8vw, 3.5rem)

    /* Animações e Efeitos */
    --transition-speed: 0.5s;
    --border-radius: 20px;
}


body {
  margin: 0;
  background: var(--bg-gradient);
  padding-bottom: 0;
  padding-top: 100px;
  font-family: var(--font-main);
}