.skills-page {
  height: 600px;
  width: auto;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.skill-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 100px;
}

.card{
  height: 200px;
  width: 25%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: var(--glass-bg);
  border: 3px solid;
  color: var(--text-main);
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.card-title {
  margin: 0;
}

.card-text {
  padding: 0 3px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.cpp-logo,
.git-logo,
.html-logo,
.css-logo,
.js-logo,
.astro-logo,
.java-logo {
  margin: 15px 0;
  width: auto;
  height: 100px;
  object-fit: contain;

  filter: brightness(0) invert(1);
}