.bottom-end {
  height: 300px;
  width: 1000px;

  margin: 0 auto;

  display: flex;
  align-items:  center;
  justify-content: center;
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
}

.bottom-content {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 40px;
  row-gap: 40px;
}

.bottom-pic {
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  transition: 0.8s;
}

.bottom-pic:hover {
  height: 205px;
  width: 205px;
}

.bottom-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;

  color: white;
}



.github, .instagram {
  background: transparent;

  border: none;
  cursor: pointer;

  border-radius: 15px;
}

.github:hover,
.instagram:hover {
  background-color: rgb(62, 62, 62);
}

.git-img, .insta-img {
  width: 60px;
  height: 60px;

  object-fit: contain;
  background: transparent;
}

.projects-bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  text-decoration: none;
  color: black;
  background: #fff;
  height: 60px;
  width: 120px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
}

.projects-bottom:hover {
  opacity: 0.8;
}